# 1. Медиана трех чисел:
Нужно написать функцию, которая возвращает среднее по значению число из трех чисел

Например, для a=1, b=2, c=5 результат будет 2.

In [1]:
#Общий случай
def median3(a, b, c):
    args = [a,b,c]
    mean, median = sum(args)/float(len(args)), a
    for arg in args:
        if abs(arg - mean) < abs(median - mean):
            median = arg
    return median

#Частный случай:
def median3_2(a, b, c):
    return sum([a,b,c]) - min([a,b,c]) - max([a,b,c])

print(median3(1,2,5), median3_2(1,2,5))

2 2

# 2. Задача &quot;Выколотый массив&quot;
Arr - массив чисел от 1 до N, в котором одно число выкинули, а остальной
массив перемешали. Требуется написать функцию, которая принимает на
вход массив arr и возвращает удаленное число. Решение должно быть
линейным, не должно модифицировать исходный массив и использовать
дополнительную память.

In [7]:
def findMissing(arr):
    return arr[-1]*(1 + arr[-1])/2. - sum(arr)

findMissing([1,2,4,5,6,7,8,9])

3.0

# 3. Задача для решения в Jupyter notebook:
Научно-исследовательские центры каждый день закупают енотов для
экспериментов. По ссылке вы можете скачать датасет, содержащий
информацию о закупках за
неделю. https://github.com/bestplace/for_interviews/blob/master/raccoons/raccoons.csv Ваша задача — определить, какие научно-исследовательские
центры закупили более 500 енотов в течение хотя бы одних календарных
суток и нарисовать их на карте, например, используя библиотеку gmaps
(https://github.com/pbugnion/gmaps). Вы можете использовать любое другое
решение для визуализации данных. Решение необходимо прислать в виде
Jupyter notebook (ipynb).

In [10]:
import pandas as pd

raccoons = pd.read_csv('raccoons.csv.txt', encoding='utf-16', sep=':')
raccoons.head()

                corrds       time raccoons_bought
0  55.771393 37.567392  4423O3138               2
1  55.705458 37.550926  442365718               0
2   55.83028 37.404815  442244596               0
3  55.799092 37.452157  442327511       148.00001
4  55.749785 37.763962  442248573               1

In [11]:
#Предварительная чистка
import datetime as dt
raccoons.time = raccoons.time.str.replace('O','0')
raccoons.time = [dt.date.fromtimestamp(int(time)) for time in raccoons.time]
raccoons.corrds = raccoons.corrds.str.replace(r'[^0-9.]', ' ')
raccoons.corrds = [(float(corrd[:corrd.index(' ')]), float(corrd[corrd.index(' ')+1:])) for corrd in raccoons.corrds]
raccoons.raccoons_bought = raccoons.raccoons_bought.str.replace('"+', '')
raccoons.raccoons_bought = [int(float(entry)) for entry in raccoons.raccoons_bought]
raccoons[:10]

                   corrds        time  raccoons_bought
0  (55.771393, 37.567392)  1984-01-07                2
1  (55.705458, 37.550926)  1984-01-08                0
2   (55.83028, 37.404815)  1984-01-06                0
3  (55.799092, 37.452157)  1984-01-07              148
4  (55.749785, 37.763962)  1984-01-06                1
5  (55.798212, 37.529313)  1984-01-07              100
6  (55.763579, 37.623798)  1984-01-04                4
7  (55.655097, 37.533652)  1984-01-03                0
8     (55.754, 37.669288)  1984-01-06                3
9   (55.652781, 37.53367)  1984-01-04                4

In [12]:
research_locations = []
for institute in raccoons.corrds.unique():
    institute_subset = raccoons[raccoons.corrds == institute]
    if max(institute_subset.groupby('time')['raccoons_bought'].sum()) > 500:
        research_locations.append(institute)

In [6]:
import gmaps
gmaps.configure(api_key="Your_api_key")

fig = gmaps.figure()
fig.add_layer(gmaps.marker_layer(research_locations))
fig

Figure()